<div class="bgimg-1">
  <div class="titre">
    <h1>List Items</h1>
  </div>
  <div class="btn-general">
    <%=link_to "Create a movie list", new_list_path, class: 'button-create-list' %>
  </div>
  <div class="caption">
    <% @lists.each do |list| %>
      <div class="border">
        <%= link_to list_path(list), class: "text" do %>
          <%= list.name %>
        <% end %>
      </div>
    <% end %>
</div>
